* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  font-weight: 400;
  color: gray;
  line-height: 1.6;
  position: relative;
}

.header {
  padding: 50px 0;
}

.header-info {
  display: flex;
  align-items: center;
}

.header-info i {
  align-self: flex-start;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}

.header-text {
  display: flex;
  flex-direction: column;
}

.header-text span:first-child {
  font-size: 19px;
  color: #000;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
}

.header-text span:last-child {
  font-size: 14px;
}

nav {
  padding: 50px 0;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul a {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

.sidenav-trigger i {
  position: absolute;
  right: 10%;
}

.active {
  position: relative;
  background: transparent !important;
}

.active:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #fff;
  top: 80%;
  left: 18%;
}

.caption p {
  margin: 40px 0;
  font-size: 18px;
}

h6 {
  font-family: "Dancing Script", sans-serif;
  font-size: 18px;
  text-transform: capitalize;
}

h3 {
  color: #000;
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  text-transform: capitalize;
}

.title-underline {
  width: 50px;
  height: 2px;
  background-color: blue;
  margin: 15px 0;
}

.title-underline-center {
  width: 50px;
  height: 2px;
  background-color: blue;
  margin: 25px auto;
}

.about-us p {
  margin: 20px 0;
  width: 90%;
}

.services {
  padding: 50px 0;
}

.services h3 {
  font-size: 28px;
  color: #000;
  text-transform: capitalize;
  font-weight: 700;
}

.numbers {
  background-image: linear-gradient(
      rgba(16, 135, 255, 0.6),
      rgba(16, 135, 255, 0.6)
    ),
    url("../img/hero_2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 50px 0;
}

.numbers h3 {
  font-size: 50px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

.card-content i,
.card-content span {
  vertical-align: middle;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.card-footer i,
.card-footer span {
  vertical-align: middle;
}

.person {
  position: relative;
}

.person img {
  transition: all 0.3s ease;
  cursor: pointer;
  transform: scale(1.34);
}

.person img:hover {
  transform: scale(1.44);
}

figure {
  position: relative;
  overflow: hidden;
}

.person-icons {
  position: absolute;
  bottom: 4rem;
  left: 2rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.person-icons a {
  display: block;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
  background: #fff;
  position: relative;
}

.person-icons i {
  color: #1089ff;
  background: #fff;
  font-size: 1.2rem;
  padding: 0.8rem;
  margin: 0.7rem 1rem;
  transition: all 0.3s;
}

.person-icons i:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.testimonial blockquote {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.testimonial img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-self: center;
  margin-right: 15px;
}

.testimonial-section {
  display: flex;
  align-self: center;
}

.testimonial-text h4 {
  color: #000;
  font-size: 20px;
}

.touch {
  background-image: linear-gradient(
      rgba(16, 135, 255, 0.6),
      rgba(16, 135, 255, 0.6)
    ),
    url("../img/hero_2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 50px;
}

.touch p {
  margin: 30px 0;
}

.footer {
  padding: 70px;
}

.footer p {
  margin: 30px 0;
}

.link {
  transition: all 0.3s;
}

.link:hover {
  text-decoration: underline;
}

.footer h5 {
  color: #000;
  font-family: "Oswald";
  font-weight: 400;
  text-transform: capitalize;
}

.footer h5:after {
  content: "";
  width: 120px;
  height: 3px;
  background-color: blue;
  display: block;
  margin: 10px 0;
}
